*{
    font-family: 'Bebas Neue', cursive;
}

main .container{
    display:flexbox;
}

main .container .row{
    justify-content: center;
    margin-top: 1rem;
}

.card-deck{
    margin-left: 4rem;
    margin-right: 4rem;
}

.card{
    margin: 0;
}

.titulos{
    margin-top: 2rem;
}

.CajaTexto{
    width: 50px;
}

.CajasCotizacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

#contenedorbomba, #contenedorkit, #contenedorpanel{
    display: none;
}

#contenedorcarrito{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#cantidadproductoscarrito{
    color: white;
}

#boxcarroyboton{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#BoxbotonyAPIDolar{
    margin: 2rem;
}

#boxAPIDolar{
    color: white; 
}

.modal-body li{
    list-style: none;
    height: 20px;
    width: 100px;

}

.modal-body ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.CajaTextoPago{
    width: 200px;
}