.intro{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &--title{
        color: $color-primario;
        font-size: $big-font;
    }
    
}

