*{
    font-family: 'Bebas Neue', cursive;
}

main .container{
    display:flexbox;
}

main .container .row{
    justify-content: center;
    margin-top: 1rem;
}

.card-deck{
    margin-left: 4rem;
    margin-right: 4rem;
}

.card{
    margin: 0;
}

.titulos{
    margin-top: 2rem;
}